@model FinTech101.Models.FintechHomeViewModel
@{
    ViewBag.Title = "finTech";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p class="well well-sm" style="width:16%">
    <span style="font-weight:bold">Select Stock Type: </span> @Html.DropDownList("set_selection", Model.StockEntityTypes)
</p>
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q1:</span> How many times was @Html.DropDownList("q1_se", Model.StockEntities) <select id="q1_uod"><option value="up">up</option><option value="down">down</option> </select>
    by <input type="text" id="q1_percent" /> % from @Html.DropDownList("q1_from_year", Model.SetActiveYears_From) to @Html.DropDownList("q1_to_year", Model.SetActiveYears_To) <button id="q1_go">Go</button>
</p>
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q2:</span> What have been the best and worst days for @Html.DropDownList("q2_se", Model.StockEntities) in @Html.DropDownList("q2_year", Model.SetActiveYears_To) <button id="q2_go">Go</button>
</p>
@*<p class="well well-sm" style="width:65%">
        <span style="font-weight:bold">Q3:</span> Which months was @Html.DropDownList("q3_company", new SelectList(ViewBag.AllCompanies, "Value", "Text")) Up / Down from @Html.DropDownList("q3_from_year", (SelectList)ViewBag.AllYearsSL) to @Html.DropDownList("q3_to_year", (SelectList)ViewBag.AllYearsSL) <button id="q3_go">Go</button>
    </p>
    <p class="well well-sm" style="width:65%">
        <span style="font-weight:bold">Q4:</span> Show the prices of @Html.DropDownList("q4_company", new SelectList(ViewBag.AllCompanies, "Value", "Text")) @Html.TextBox("q4_weeks_before", 1, new { size = 3 }) week(s) before and @Html.TextBox("q4_weeks_after", 1, new { size = 3 }) week(s) after @Html.DropDownList("q4_event", new SelectList(ViewBag.AllEvents, "Value", "Text")) <button id="q4_go">Go</button>
    </p>
    <p class="well well-sm" style="width:65%">
        <span style="font-weight:bold">Q5:</span> Which companies were up more than @Html.TextBox("q5_percent", 70, new { size = 3 }) % from @Html.DropDownList("q5_from_year", (SelectList)ViewBag.AllYearsSL) to @Html.DropDownList("q5_to_year", (SelectList)ViewBag.AllYearsSL) <button id="q5_go">Go</button>
    </p>*@

<h2>Fintech Results</h2>
<div id="result">

</div>
<div id="result-error" style="color:red">

</div>

@section scripts {
    @Scripts.Render("~/bundles/fintech")
}