@model FinTech101.Models.FintechHomeViewModel
@{
    ViewBag.Title = "finTech";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p class="well well-sm" style="width:20%">
    <span style="font-weight:bold">Select Stock Type: </span> @Html.DropDownList("set_selection", Model.StockEntityTypes)
</p>
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q1:</span> How many times was @Html.DropDownList("q1_se", Model.StockEntities) <select id="q1_uod"><option value="up">up</option><option value="down">down</option> </select>
    by <input type="text" id="q1_percent" /> % from @Html.DropDownList("q1_from_year", Model.SetActiveYears_From) to @Html.DropDownList("q1_to_year", Model.SetActiveYears_To) <button id="q1_go">Go</button>
</p>
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q2:</span> What have been the best and worst days for @Html.DropDownList("q2_se", Model.StockEntities) in @Html.DropDownList("q2_year", Model.SetActiveYears_To) <button id="q2_go">Go</button>
</p>
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q3:</span> Which months was @Html.DropDownList("q3_se", Model.StockEntities) Up / Down from @Html.DropDownList("q3_from_year", Model.SetActiveYears_From) to @Html.DropDownList("q3_to_year", Model.SetActiveYears_To) <button id="q3_go">Go</button>
</p>
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q4:</span> Show the prices of @Html.DropDownList("q4_se", Model.StockEntities) @Html.TextBox("q4_days_before", 3, new { size = 3 }) day(s) before and @Html.TextBox("q4_days_after", 3, new { size = 3 }) day(s) after @Html.DropDownList("q4_event", new SelectList(ViewBag.AllEvents, "Value", "Text")) <button id="q4_go">Go</button>
</p>
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q4.1:</span> Show the prices of @Model.SelectedSET.Text @Html.TextBox("q4_1_days_before", 3, new { size = 3 }) day(s) before and @Html.TextBox("q4_1_days_after", 3, new { size = 3 }) day(s) after @Html.DropDownList("q4_1_event", new SelectList(ViewBag.AllEvents, "Value", "Text")) <button id="q4_1_go">Go</button>
</p>
@if (Model.SelectedSET.Value == 1)
{
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q4.2:</span> Show the prices change of @Html.DropDownList("q4_2_se", Model.StockEntities) @Model.SelectedSET.Text @Html.TextBox("q4_2_days_after", 1, new { size = 3 }) day(s) after @Html.DropDownList("q4_2_cet", Model.CompanyEventTypes) <button id="q4_2_go">Go</button>
</p>
}
<p class="well well-sm" style="width:65%">
    <span style="font-weight:bold">Q5:</span> Which @Model.SelectedSET.Text was up more than @Html.TextBox("q5_percent", 70, new { size = 3 }) % from @Html.DropDownList("q5_from_year", Model.SetActiveYears_From) to @Html.DropDownList("q5_to_year", Model.SetActiveYears_To) <button id="q5_go">Go</button>
</p>
<p class="well well-sm" style="width:70%">
    <span style="font-weight:bold">Q7:</span> What was the effect on @Html.DropDownList("q7_target_se", Model.StockEntities) after @Html.TextBox("q7_target_after_days", 10, new { size = 3 }) days, when the price of @Html.DropDownList("q7_anchor_se", Model.CommodityStockEntities) was up by @Html.TextBox("q7_anchor_percent", 5, new { size = 3 }) % from @Html.DropDownList("q7_from_year", Model.SetActiveYears_From) to @Html.DropDownList("q7_to_year", Model.SetActiveYears_To) <button id="q7_go">Go</button>
</p>

<h2>Fintech Results</h2>
<div id="result">

</div>
<div id="result-error" style="color:red">

</div>

@section scripts {
    @Scripts.Render("~/bundles/fintech")
}