@using FinTech101.Models
@{
    if (!ViewBag.isPartial) {
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }

    List<SP_Q3_StockEntityUpDownMonthsResult> result = (List<SP_Q3_StockEntityUpDownMonthsResult>) ViewData["RESULT"];
    StockEntity se = (StockEntity) ViewData["SE"];
}
@{
    <p style="font-weight:bold">@se.NameEn</p>
    <br/>
}
<table border="1" style="width:75%">
    <thead>
        <tr>
            <th style="text-align:center">Year</th>
            <th style="text-align:center">Jan</th>
            <th style="text-align:center">Feb</th>
            <th style="text-align:center">Mar</th>
            <th style="text-align:center">Apr</th>
            <th style="text-align:center">May</th>
            <th style="text-align:center">Jun</th>
            <th style="text-align:center">Jul</th>
            <th style="text-align:center">Aug</th>
            <th style="text-align:center">Sep</th>
            <th style="text-align:center">Oct</th>
            <th style="text-align:center">Nov</th>
            <th style="text-align:center">Dec</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in result)
            {
                if (item.Year > 0)
                {
                    <tr>
                        <td style="text-align:center">@item.Year</td>
                        @for (var i = 1; i <= 12; i++)
                        {
                            var pName = "_" + i.ToString();
                            decimal? monthVal = (decimal?) item.GetType().GetProperty(pName).GetValue(item, null);
                            <td style="text-align:center; background-color:@(monthVal.HasValue && monthVal.Value > 0 ? "lightgreen" : "white")">@(monthVal.HasValue ? monthVal.Value.ToString("0.00") : "0")</td>
                        }
                    </tr>
                }
                else // This case is for the Aggregate at the bottom
                {
                    <tr>
                        <td style="text-align:center"></td>
                        @for (var i = 1; i <= 12; i++)
                        {
                            var pName = "_" + i.ToString();
                            decimal? monthVal = (decimal?)item.GetType().GetProperty(pName).GetValue(item, null);
                            @*<td style="text-align:center; background-color:lightblue;font-weight:bold">@value.ToString("0.00")&nbsp;%</td>*@
                            <td style="text-align:center; background-color:@(monthVal.HasValue && monthVal.Value > 0 ? "lightgreen" : "white")">@(monthVal.HasValue ? monthVal.Value.ToString("0.00") : "0")</td>
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
