@using FinTech101.Models
@*This is it @ViewBag.eventDateClosingPrice*@
<table border="1">
    <thead>
        <tr>
            <th>
                Commodity / Date
            </th>
            @{
                foreach (var item in ViewBag.resultDates)
                {
                    <th style="background-color:@(item.ForDate.ToShortDateString() == ViewBag.eventDate.ToShortDateString()? "lightblue" : "")">@item.ForDate.ToString("dd MMM yyyy") @item.DoW</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                BRENT
            </td>
            @{
                foreach (var item in ((List<SP_PricesAroundEventsResult>)ViewBag.result).Where(r => r.CID == 1))
                {
                    var bgColor = "";
                    if (item.ForDate.Value.ToShortDateString() == ViewBag.eventDate.ToShortDateString())
                    {
                        bgColor = "lightblue";
                    }
                    else if (item.Close.Value > 0)
                    {
                        bgColor = "lightgreen";
                    }

                    <td style="background-color:@bgColor">@(item.Close != 0 ? item.Close.ToString() : "")</td>
                }
            }
        </tr>
        <tr>
            <td>
                CRUDE
            </td>
            @{
                foreach (var item in ((List<SP_PricesAroundEventsResult>)ViewBag.result).Where(r => r.CID == 3))
                {
                    var bgColor = "";
                    if (item.ForDate.Value.ToShortDateString() == ViewBag.eventDate.ToShortDateString())
                    {
                        bgColor = "lightblue";
                    }
                    else if (item.Close.Value > 0)
                    {
                        bgColor = "lightgreen";
                    }

                    <td style="background-color:@bgColor">@(item.Close != 0 ? item.Close.ToString() : "")</td>
                }
            }
        </tr>
        <tr>
            <td>
                @ViewBag.CompanyName
            </td>
            @{
                var companyPrices = ((List<SP_PricesAroundEventsResult>)ViewBag.result).Where(r => r.CID == ViewBag.CompanyID).ToList();
                var firstClosingPrice = 0.0M;
                var lastClosingPrice = 0.0M;
                var totalDates = companyPrices.Count;
                var firstValidClosingPriceIndex = 0;
                var lastValidClosingPriceIndex = totalDates - 1;
                var eventDateIndex = -1;

                for (var index = 0; index < companyPrices.Count; index++)
                {
                    var item = companyPrices[index];

                    if (item.ForDate.Value.ToShortDateString() == ViewBag.firstValidClosingPriceDate.ToShortDateString())
                    {
                        firstValidClosingPriceIndex = index;
                        firstClosingPrice = item.Close.Value;
                    }
                    if (item.ForDate.Value.ToShortDateString() == ViewBag.lastValidClosingPriceDate.ToShortDateString())
                    {
                        lastValidClosingPriceIndex = index;
                        lastClosingPrice = item.Close.Value;
                    }

                    //http://stackoverflow.com/questions/929103/convert-a-number-range-to-another-range-maintaining-ratio
                    var newHue = ((((item.Close - ViewBag.minClose) * (100 - 40)) / (ViewBag.maxClose - ViewBag.minClose)) + 40).ToString() + "%";
                    @*<td style="background-color:@(item.Close > 0 ? "hsl(107," + newHue + ", 50%)" : "")">@(item.Close != 0 ? item.Close.ToString() : "")</td>*@

            var bgColor = "";
            if ((ViewBag.eventDateClosingPriceWasZero && item.ForDate.Value.ToShortDateString() == ViewBag.eventDateClosingPriceAltDate.ToShortDateString())
                || (item.ForDate.Value.ToShortDateString() == ViewBag.eventDate.ToShortDateString()))
            {
                bgColor = "lightblue";
                eventDateIndex = index;
            }
            else if (item.Close == 0)
            {
                bgColor = "white";
            }
            else if (item.Close.Value >= ViewBag.eventDateClosingPrice)
            {
                bgColor = "lightgreen";
            }
            else
            {
                bgColor = "red";
            }

            <td style="background-color:@bgColor;text-align:center"><span style="font-weight:bold;color:@(item.Close < ViewBag.eventDateClosingPrice ? "white" : "black")">@(item.Close != 0 ? item.Close.ToString() : "")</span></td>
                }
            }
        </tr>
        <tr>
            <td></td>
            @{
                var changePercentage = 0.0;

                for (var index = 0; index < totalDates; index++)
                {
                    if(index == eventDateIndex)
                    {
                        <td style="background-color:lightblue"></td>
                    }
                    else if (index == firstValidClosingPriceIndex || index == lastValidClosingPriceIndex)
                    {
                        var firstClosingPriceChangePercent = (((ViewBag.eventDateClosingPrice - firstClosingPrice) / firstClosingPrice) * 100);
                        var lastClosingPriceChangePercent = (((lastClosingPrice - ViewBag.eventDateClosingPrice) / ViewBag.eventDateClosingPrice) * 100);

                        if (index == firstValidClosingPriceIndex)
                        {
                            <td colspan="@(ViewBag.weeksBefore * 7)" style="text-align:center;background-color:@(firstClosingPriceChangePercent >= 0 ? "lightgreen" : "red")"><span style="font-weight:bold;color:@(firstClosingPriceChangePercent < 0 ? "white" : "black")">@firstClosingPriceChangePercent.ToString("0.00")</span></td>
                        }
                        else
                        {
                            <td colspan="@(ViewBag.weeksAfter * 7)" style="text-align:center;background-color:@(lastClosingPriceChangePercent >= 0 ? "lightgreen" : "red")"><span style="font-weight:bold;color:@(lastClosingPriceChangePercent < 0 ? "white" : "black")">@lastClosingPriceChangePercent.ToString("0.00")</span></td>
                        }
                    }
                }
            }
        </tr>
    </tbody>
</table>
